#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


h1{
  background-color: aqua;
}

.header{
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  height: 300px;
 
  margin: auto;
}

form input{
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -1rem;
  outline: none;
  border: none;
}

input[type="text"]{
  border-bottom: 1px solid #ccc;
}

input[type="password"]{
  border-bottom: 1px solid #ccc;
}
button {
  background-color: aqua;
  width:250px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}